@tailwind base;
@tailwind components;
@tailwind utilities;


/* font */

header {
    font-family: "Anton" ,serf ;
    direction: ltr;
}


.header-farsi{
    font-family: "BTitrBold";
    direction: rtl
}





body{
    font-family: "BRoya";
    text-align: right;
    direction: rtl
}
.eng{
    direction: ltr;
    font-family: "Anton" ,serf ;
}

/* Show arrows */
.prev-arrow,
.next-arrow {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: rgb(172, 56, 27);
    
    
    line-height: 1;
    
   
}
.prev-arrow:hover ,
.next-arrow:hover {
    font-weight: bold;
    color: white;
}
.prev-arrow {
    
    left: 1rem;
}

.next-arrow {
    right: 1rem;
}

.caption-hide{
    text-align: right;
        position: absolute;
        left: 50%;
        top: -400px;
        transform: translateX(-50%);
        text-shadow: 1px 1px black;
        background-color: rgba(0, 0, 0, 0.601);
        border-radius: 10px;
        color: white;
        font-weight: bold;
        padding: 5px;
       font-family: "BTitrBold";
        width: max-content;
}

.caption-show{
    font-family: "BTitrBold";
    font-weight: bold;
        text-align: center;
    position: absolute;
        left: 50%;
        top:200px;
        transform: translateX(-50%);
        text-shadow: 1px 1px black;
background-color: rgba(0, 0, 0, 0.601);
        border-radius: 10px;
        color:white;
        
        padding: 5px;
        transition: top 1s;
        
}

.slide-right-show{
    opacity: 1;
    transition: opacity 1.5s ;
}
.slide-right-hide {
    opacity: 0;
   
}
.slide-left-show {
    opacity: 1;
    transition: opacity 1.5s;
}

.slide-left-hide {
    opacity: 0;

}

/* .slide-left-show {
    position: absolute;
        left: 0;
        transition: left 1.5s;
    
}

.slide-left-hide {
    position: absolute;
        left: -80vw;
    
    
} */

html, body {
    overflow-x: hidden;
}